body {
  font-family: 'Roboto', sans-serif;
  background-color: #ffffff;
  color: #2e2f42;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

/* logo  */
span {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  text-transform: uppercase;
  color: #4d5ae5;
}

.logo-link {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  text-transform: uppercase;
  color: #272c7f;
}
/* logo  */

/* nav  */
.site-nav .link {
  color: #2e2f42;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
}
.link:hover,
.link:focus {
  color: #404bbf;
}
/* nav  */

/* contacts */

.header-contact-list .mail,
.header-contact-list .tel {
  font-size: 16px;
  line-height: 1.5;
  color: #434455;
}
.tel:hover,
.mail:hover {
  color: #404bbf;
}
.tel:focus,
.mail:focus {
  color: #404bbf;
}
/* contacts */

/* hero  */
.main-part-header {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  color: #ffffff;
  background: #2e2f42;
}

.main-btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #ffffff;
  background: #4d5ae5;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
.main-btn:hover,
.main-btn:focus {
  background: #404bbf;
  color: #ffffff;
}
/* hero  */

/* Hidden title  */
.text-list {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
}

.text-list-item {
  font-size: 16px;
  line-height: 1.5;
  color: #434455;
}
/* Hidden title  */

/* about  */
.about {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  text-transform: capitalize;
}
/* about  */

.team {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  text-transform: capitalize;
}

.team-list {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
}

.team-list-position {
  font-size: 16px;
  line-height: 1.5;
  color: #434455;
}

.bottom-page {
  font-size: 16px;
  line-height: 1.5;
  color: #e7e9fc;
  background: #2e2f42;
}
