:root {
  --title-text-color: #2e2f42;
  --primary-text-color: #434455;
  --accent-color: #404bbf;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #ffffff;
  color: var(--title-text-color);
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

/* logo  */
span {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  text-transform: uppercase;
  color: #4d5ae5;
}

.logo-link {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  text-transform: uppercase;
  color: #272c7f;
}
/* logo  */

/* nav  */

.site-nav .link {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
}

.link:hover,
.link:focus {
  color: var(--accent-color);
}
.portfolio .link {
  color: var(--accent-color);
}

/* nav  */

/* contacts */

.header-contact-list .mail,
.header-contact-list .tel {
  font-style: normal;
  font-size: 16px;
  line-height: 1.5;
  color: var(--primary-text-color);
}
.tel:hover,
.mail:hover {
  color: var(--accent-color);
}
.tel:focus,
.mail:focus {
  color: var(--accent-color);
}
/* contacts */

/* hero  */
.main-part-header {
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  color: #ffffff;
  background: #2e2f42;
}

.main-btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #ffffff;
  background: #4d5ae5;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
.main-btn:hover,
.main-btn:focus {
  background: var(--accent-color);
  color: #ffffff;
}

/* hero  */

/* Hidden title  */
.text-list {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
}

.text-list-item {
  font-size: 16px;
  line-height: 1.5;
  color: var(--primary-text-color);
}
/* Hidden title  */

/* about  */
.about {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  text-transform: capitalize;
}
/* about  */

.team {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  text-transform: capitalize;
}

.team-list {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
}

.team-list-position {
  font-size: 16px;
  line-height: 1.5;
  color: var(--primary-text-color);
}

.bottom-page {
  font-size: 16px;
  line-height: 1.5;
  color: #e7e9fc;
  background: #2e2f42;
}

.list-btn {
  color: #4d5ae5;
}

.list-btn:hover,
.list-btn:focus {
  background-color: var(--accent-color);
  color: #ffffff;
}
.list-btn {
  width: 116px;
  height: 48px;

  background: #f4f4fd;

  border: 1px solid #e7e9fc;
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
}

.list-item {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
}
.list-text-item {
  font-size: 16px;
  line-height: 1.5;

  color: var(--primary-text-color);
}

.main-btn,
.list-btn {
  cursor: pointer;
}

/* logo-link  */

.bottom-logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  text-transform: uppercase;
  color: #f4f4fd;
  background: #2e2f42;
}
